@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --font-size: 15px;
    --family-sans: "Inter var", system-ui, "Roboto", sans-serif;
    --line-height: calc(var(--font-size) * 1.5);
    --spacing: 2rem;
    --spacingv: calc(var(--line-height) / 2);
    --text-color: #111;
  }

  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  }

  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: var(--family-sans);
    }
  }

  body {
    font: 15px/22px var(--family-sans);
    font-weight: 450;
    line-height: var(--line-height);
    letter-spacing: -0.004em;
    color: var(--text-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-kerning: normal;
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: "kern", "liga", "calt", "ss01", "tnum", "cv10",
      "cv07", "ss03";
  }

  h1,
  h2 {
    font-weight: bold;
  }

  h1 {
    font-weight: 900;
  }

  h2 {
    font-size: 1.25rem;
  }

  p{
    @apply leading-relaxed mb-7;
  }
}
